In [3]:
import pandas as pd

In [4]:
train=pd.read_csv('fraudTrain.csv')
test=pd.read_csv("fraudTest.csv")

In [5]:
train.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [6]:
test.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [7]:
train.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [8]:
test.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [9]:
train.shape

(1296675, 23)

In [10]:
test.shape

(555719, 23)

In [13]:
frames = [train , test]

In [14]:
df=pd.concat(frames)

In [15]:
df.shape

(1852394, 23)

In [17]:
df.reset_index(inplace=True)

In [31]:
df.info

<bound method DataFrame.info of           index  Unnamed: 0  trans_date_trans_time            cc_num  \
0             0           0                    0.0  2703186189652095
1             1           1                    1.0      630423337322
2             2           2                    2.0    38859492057661
3             3           3                    3.0  3534093764340240
4             4           4                    4.0   375534208663984
...         ...         ...                    ...               ...
1852389  555714      555714              1819546.0    30560609640617
1852390  555715      555715              1819547.0  3556613125071656
1852391  555716      555716              1819548.0  6011724471098086
1852392  555717      555717              1819549.0     4079773899158
1852393  555718      555718              1819550.0  4170689372027579

         merchant  category     amt  first   last  gender  ...      lat  \
0           514.0       8.0    4.97  164.0   18.0     0.0  ...  36.0788
1           241.0       4.0  107.23  312.0  161.0     0.0  ...  48.8878
2           390.0       0.0  220.11  116.0  386.0     1.0  ...  42.1808
3           360.0       2.0   45.00  165.0  468.0     1.0  ...  46.2306
4           297.0       9.0   41.96  339.0  153.0     1.0  ...  38.4207
...           ...       ...     ...    ...    ...     ...  ...      ...
1852389     507.0       5.0   43.77  245.0  323.0     1.0  ...  40.4931
1852390     264.0       7.0  111.84  180.0  438.0     1.0  ...  29.0393
1852391     496.0       7.0   86.88   19.0  243.0     0.0  ...  46.1966
1852392      75.0      13.0    7.99  120.0  351.0     1.0  ...  44.6255
1852393     125.0       0.0   38.13  293.0  148.0     1.0  ...  35.6665

             long  city_pop    job    dob  trans_num   unix_time  merch_lat  \
0        -81.1781      3495  372.0  791.0    80326.0  1325376018  36.011293
1       -118.2105       149  431.0  619.0   227462.0  1325376044  49.159047
2       -112.2620      4154  308.0  309.0  1169030.0  1325376051  43.150704
3       -112.1138      1939  330.0  405.0   777909.0  1325376076  47.034331
4        -79.4629        99  116.0  746.0  1186866.0  1325376186  38.674999
...           ...       ...    ...    ...        ...         ...        ...
1852389  -91.8912       519  477.0  386.0  1122239.0  1388534347  39.946837
1852390  -95.4401     28739  207.0  961.0   235369.0  1388534349  29.661049
1852391 -118.9017      3684  307.0  669.0   783898.0  1388534355  46.658340
1852392 -116.4493       129   63.0  383.0   145946.0  1388534364  44.470525
1852393  -97.4798    116001  289.0  873.0   169136.0  1388534374  36.210097

         merch_long  is_fraud
0        -82.048315         0
1       -118.186462         0
2       -112.154481         0
3       -112.561071         0
4        -78.632459         0
...             ...       ...
1852389  -91.333331         0
1852390  -96.186633         0
1852391 -119.715054         0
1852392 -117.080888         0
1852393  -97.036372         0

[1852394 rows x 24 columns]>

In [30]:
from sklearn.preprocessing import OrdinalEncoder
cols = ['trans_date_trans_time', 'merchant', 'category', 'first', 'last',
        'gender', 'street', 'city', 'state', 'job', 'dob', 'trans_num']
encoder = OrdinalEncoder()
df[cols] = encoder.fit_transform(df[cols])

In [26]:
df.duplicated().sum()

0

In [27]:
df.isnull().sum()

index                    0
Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [28]:
df['is_fraud'].value_counts()

is_fraud
0    1842743
1       9651
Name: count, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split 
x=df.drop(['is_fraud'],axis=1)
y=df['is_fraud']

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=100)

In [33]:
x_train.shape

(1481915, 23)

In [34]:
y_train.shape

(1481915,)

In [35]:
from sklearn.linear_model import LogisticRegression

In [36]:
model=LogisticRegression()
model.fit(x_train,y_train)

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
pred_train = model.predict(x_train)
pred_test  = model.predict(x_test)

print('Training Accuracy : ', accuracy_score(y_train, pred_train))
print('Testing  Accuracy : ', accuracy_score(y_test, pred_test))

Training Accuracy :  0.9947486866655645
Testing  Accuracy :  0.9949551796458099